
/* Setup
---------------------------------------------------------------------------------------------------- */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html,
body {
	width: 100%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
	transition-duration: 0.25s;
}

/* Fonts
---------------------------------------------------------------------------------------------------- */

body {
  font-family: 'Product Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

body,
a {
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
}

strong {
	font-weight: 700;
}

/* Background
---------------------------------------------------------------------------------------------------- */

body {
  background-color: none;
  background: radial-gradient(
    ellipse farthest-corner at center,

    rgba(0, 0, 0, 0.025) 0%,
    rgba(0, 0, 0, 0.05) 37.5%,
    rgba(0, 0, 0, 0.075) 50%
  );
}

#background {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;

  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  opacity: 1;
}

/* Social
---------------------------------------------------------------------------------------------------- */

#social {
  width: 100%;

  position: absolute;
  bottom: 36px;
  left: 0;

  text-align: center;
}

#social .icon {
  width: 50px;
  height: 50px;

  display: inline-block;

  margin: 0 2px;

  border-radius: 50%;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: 18px;

  opacity: 0.75;
}

#social .icon:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

#social .icon.instagram {
  background-image: url(../images/icon-instagram.png);
}

#social .icon.facebook {
  background-image: url(../images/icon-facebook.png);
}

#social .icon.snapchat {
  background-image: url(../images/icon-snapchat.png);
}

#social .icon.medium {
  background-image: url(../images/icon-medium.png);
}

#social .icon.twitter {
  background-image: url(../images/icon-twitter.png);
}
